* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif; }

.container {
  height: 100vh;
  background-color: white; }
  .container header {
    padding: 0rem 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .container header .logo {
      width: 95px;
      height: 80px; }
      .container header .logo img {
        width: 100%;
        height: 100%; }
    .container header .logo:hover {
      cursor: pointer; }
    .container header .container-buscar {
      display: flex;
      width: 100%;
      justify-content: center; }
      .container header .container-buscar .input-buscar {
        width: 30%;
        border: none;
        border-bottom: 1px solid #232323;
        padding: 0.1rem 0.3rem;
        outline: none;
        transition: .4s; }
      .container header .container-buscar .input-buscar:hover {
        transform: scale(0.99); }
      .container header .container-buscar .input-buscar:focus {
        transform: scale(0.99); }
      .container header .container-buscar .button-buscar {
        padding: 0.1rem 0.5rem;
        margin: 0rem 0.5rem;
        border-bottom: 1px solid #232323; }
        .container header .container-buscar .button-buscar img {
          opacity: .8;
          transition: .5s; }
        .container header .container-buscar .button-buscar img:hover {
          cursor: pointer;
          transform: scale(1.07);
          opacity: 1; }
      .container header .container-buscar .button-buscar:hover {
        cursor: pointer; }
    .container header .carrito-menu {
      color: black;
      opacity: .5;
      transition: .5s;
      width: 2rem;
      height: 2rem;
      margin: 0rem .5rem; }
      .container header .carrito-menu img {
        width: 100%;
        height: 100%; }
    .container header .carrito-menu:hover {
      opacity: 1;
      transform: scale(1.09);
      cursor: pointer; }
    .container header .btn-menu {
      color: black;
      opacity: .5;
      transition: .5s;
      width: 2rem;
      height: 2rem;
      margin: 0rem .5rem; }
      .container header .btn-menu img {
        width: 100%;
        height: 100%; }
    .container header .btn-menu:hover {
      opacity: 1;
      transform: scale(1.09);
      cursor: pointer; }
    .container header .container-productoCarrito {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      border: 1px solid #4b4b4b;
      box-shadow: 0px 0px 10px 0px #878787;
      background-color: white;
      position: absolute;
      top: 4rem;
      right: 1rem;
      z-index: 1;
      animation-name: mostar;
      animation-duration: 1s; }
      .container header .container-productoCarrito .productoCarrito {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem;
        width: 280px;
        border-bottom: 1px solid #4b4b4b; }
        .container header .container-productoCarrito .productoCarrito p {
          font-size: .8rem;
          margin: 0rem .5rem; }
        .container header .container-productoCarrito .productoCarrito img {
          width: 70px;
          height: 70px; }
        .container header .container-productoCarrito .productoCarrito .eliminarCarrito {
          width: 4rem;
          height: 1.8rem;
          font-size: .6rem;
          background-color: #ff3e3e;
          border: 1px solid white;
          color: white;
          transition: .8s;
          margin: 0rem 0rem; }
        .container header .container-productoCarrito .productoCarrito .eliminarCarrito:hover {
          background-color: white;
          color: black;
          border: 1px solid white;
          cursor: pointer;
          transform: scale(1.1); }
      .container header .container-productoCarrito input {
        width: 5rem;
        height: 2rem;
        background-color: black;
        border: 1px solid black;
        color: white;
        transition: .8s;
        margin: 1rem 0rem; }
      .container header .container-productoCarrito input:hover {
        background-color: white;
        color: black;
        border: 1px solid white;
        cursor: pointer;
        transform: scale(1.1); }
    .container header .ocultarCarrito {
      display: none; }
    .container header nav {
      position: fixed;
      z-index: 10;
      top: 0px;
      background-color: black;
      opacity: .8;
      height: 100%;
      width: 100%;
      transition: .7s;
      animation-name: mostar;
      animation-duration: 1.3s; }
      .container header nav ul {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        height: 100%; }
        .container header nav ul li {
          text-align: center;
          list-style: none;
          margin: 1rem 0rem;
          transition: .5s;
          opacity: 1; }
          .container header nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 3rem;
            font-weight: 100; }
          .container header nav ul li p {
            text-decoration: none;
            color: white;
            font-size: 3rem;
            font-weight: 100;
            cursor: pointer; }
        .container header nav ul li:hover {
          transform: scale(1.08); }

@keyframes mostar {
  from {
    opacity: 0; }
  to {
    opacity: .8; } }
    .container header .ocultar {
      display: none; }
  .container .main-index {
    padding: 2rem; }
    .container .main-index .container-equipos {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75%;
      padding: 3rem 0rem 0rem 0rem; }
      .container .main-index .container-equipos .none {
        display: none; }
      .container .main-index .container-equipos .equipo {
        width: 350px;
        height: 350px;
        border-radius: 3px;
        transition: .7s;
        animation-name: aparecer;
        animation-duration: 1.3s; }
        .container .main-index .container-equipos .equipo img {
          height: 100%;
          width: 100%; }
      .container .main-index .container-equipos .equipo:hover {
        cursor: pointer;
        transform: scale(1.1); }

@keyframes aparecer {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    .container .main-index .container-buttons {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 1rem 0rem 5rem; }
      .container .main-index .container-buttons .button {
        width: 1.3rem;
        height: 1.3rem;
        opacity: .5;
        border-radius: 100%;
        margin: 0rem 3rem;
        transition: .7s;
        background-color: black; }
      .container .main-index .container-buttons .button:hover {
        opacity: .8;
        cursor: pointer;
        transform: scale(1.2); }
  .container .main-zapatillas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0rem;
    gap: 3rem; }
    .container .main-zapatillas .modelos {
      border: 1px solid #4b4b4b;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 0px 10px 0px #878787;
      width: 320px;
      height: 475px; }
      .container .main-zapatillas .modelos img {
        width: 300px;
        height: 300px; }
      .container .main-zapatillas .modelos .card-modelo {
        font-size: 1.3rem; }
      .container .main-zapatillas .modelos .card-jugador {
        margin: .5rem 0rem; }
      .container .main-zapatillas .modelos .card-precio {
        font-size: 1.1rem; }
      .container .main-zapatillas .modelos .comprar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 40%;
        margin: 1.5rem 0rem 2rem 0rem; }
        .container .main-zapatillas .modelos .comprar input {
          width: 5rem;
          height: 2rem;
          background-color: #73b7ff;
          border: 1px solid #73b7ff;
          color: white;
          transition: .8s; }
        .container .main-zapatillas .modelos .comprar input:hover {
          background-color: white;
          color: black;
          border: 1px solid white;
          cursor: pointer;
          transform: scale(1.1); }
        .container .main-zapatillas .modelos .comprar img {
          width: 2rem;
          height: 2rem;
          transition: .6s; }
        .container .main-zapatillas .modelos .comprar img:hover {
          cursor: pointer;
          transform: scale(1.1); }
  .container .main-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    .container .main-nosotros .logo-nostros {
      flex: 70%;
      padding-bottom: 3rem;
      height: 500px;
      width: 500px; }
    .container .main-nosotros .texto-nosotros {
      flex: 30%;
      text-align: center;
      padding: 0rem 15% 5rem 15%; }
      .container .main-nosotros .texto-nosotros h1 {
        font-size: 1.5rem;
        padding: 0rem 0rem .5rem 0rem; }
      .container .main-nosotros .texto-nosotros p {
        font-size: 1.5rem; }
  .container footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%; }
    .container footer .red-social {
      margin: 0rem 1rem;
      transition: 0.6s; }
      .container footer .red-social img {
        height: 3.5rem; }
    .container footer .red-social:hover {
      cursor: pointer;
      transform: scale(1.1); }
  .container .main-ayuda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    .container .main-ayuda h1 {
      font-size: 1.5rem;
      width: 70%;
      text-align: center;
      padding: 3rem 0rem 2rem 0rem;
      font-weight: 300; }
    .container .main-ayuda .container-red-social {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 70%;
      padding: 5rem; }
      .container .main-ayuda .container-red-social .red-social {
        height: 8rem;
        width: 8rem;
        transition: 0.6s; }
        .container .main-ayuda .container-red-social .red-social img {
          height: 100%;
          width: 100%; }
      .container .main-ayuda .container-red-social .red-social:hover {
        cursor: pointer;
        transform: scale(1.1); }

@media (max-width: 1300px) {
  .container .main-index .container-equipos .equipo {
    width: 220px;
    height: 220px; } }

@media (max-width: 1000px) {
  .container .main-index .container-equipos {
    flex-direction: column;
    padding-top: 0px; }
    .container .main-index .container-equipos .equipo {
      width: 300px;
      height: 300px; }
  .container .main-index .container-buttons {
    padding: 1rem 0rem 0rem;
    margin: 1rem 0rem; }
    .container .main-index .container-buttons .button {
      width: 1.3rem;
      height: 1.3rem;
      opacity: .5;
      border-radius: 100%;
      margin: 0rem 1rem;
      transition: .7s;
      background-color: black; } }

@media (min-width: 700px) {
  .logo-nostros {
    animation-name: agrandar;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    padding-bottom: 3rem; }
  @keyframes agrandar {
    0% {
      transform: scale(1); }
    50% {
      transform: scale(1.08); }
    100% {
      transform: scale(1); } } }

@media (max-width: 500px) {
  .container footer {
    flex-direction: column;
    height: 55rem; }
    .container footer .red-social img {
      height: 8rem;
      margin: 1rem 0rem; }
  .container .main-nosotros .logo-nostros {
    height: 350px;
    width: 350px; }
    .container .main-nosotros .logo-nostros img {
      height: 350px;
      width: 350px; } }

@media (max-width: 710px) {
  .container header {
    padding: 1rem 0rem; }
    .container header .logo {
      display: none;
      width: 0px; }
    .container header .container-buscar {
      display: flex;
      width: 100%;
      justify-content: center; }
      .container header .container-buscar .input-buscar {
        width: 70%;
        border: none;
        border-bottom: 1px solid #232323;
        padding: 0.1rem 0.3rem;
        outline: none;
        transition: .4s; }
    .container header .carrito-menu {
      width: 2rem;
      height: 2rem; }
      .container header .carrito-menu img {
        width: 2rem;
        height: 2rem; }
    .container header .btn-menu {
      width: 2rem;
      height: 2rem; }
      .container header .btn-menu img {
        width: 2rem;
        height: 2rem; }
  .container .main-ayuda h1 {
    font-size: 1.3rem;
    width: 90%;
    text-align: center;
    padding: .5rem;
    font-weight: 300; }
  .container .main-ayuda .container-red-social {
    flex-direction: column;
    padding: 1rem 0rem; }
    .container .main-ayuda .container-red-social .red-social {
      height: 8.5rem;
      width: 8.5rem;
      margin: .3rem 0rem; }
      .container .main-ayuda .container-red-social .red-social img {
        height: 100%;
        width: 100%; } }
