*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.container{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    header{
        padding: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .container-buscar{
            display: flex;
            width: 100%;
            justify-content: center;
            .input-buscar{
                width: 30%;
                border: none;
                border-bottom: 1px solid rgb(35, 35, 35);
                padding: 0.1rem 0.3rem;
                outline: none;
                transition: .4s;
            }
            .input-buscar:hover{
                transform: scale(.99);
            }
            .input-buscar:focus{
                transform: scale(.99);
            }
            .button-buscar{
                padding: 0.1rem 0.5rem;
                margin: 0rem 0.5rem;
                border-bottom: 1px solid rgb(35, 35, 35);
                img{
                    opacity: .8;
                    transition: .5s;
                }
                img:hover{
                    cursor: pointer;
                    transform: scale(1.07);
                    opacity: 1;
                }
            }
            .button-buscar:hover{
                cursor: pointer;
            }
        }
        .carrito-menu{
            color: black;
            opacity: .5;
            transition: .5s;
            width: 2rem;
            height: 2rem;
            margin: 0rem .5rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .carrito-menu:hover{
            opacity: 1;
            transform: scale(1.09);
            cursor: pointer;
        }
        .btn-menu{
            color: black;
            opacity: .5;
            transition: .5s;
            width: 2rem;
            height: 2rem;
            margin: 0rem .5rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .btn-menu:hover{
            opacity: 1;
            transform: scale(1.09);
            cursor: pointer;
        }
        .container-productoCarrito{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            border: 1px solid rgb(75, 75, 75);
            box-shadow: 0px 0px 10px 0px rgb(135, 135, 135);
            background-color: white;
            position: absolute;
            top: 4rem;
            right: 1rem;
            z-index: 1;
            animation-name: mostar;
            animation-duration: 1s;
            .productoCarrito{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin: 1rem;
                width: 280px;
                border-bottom: 1px solid rgb(75, 75, 75);
                img{
                    width: 70px;
                    height: 70px;
                }
            }
            input{
                width: 5rem;
                height: 2rem;
                background-color: black;
                border: 1px solid black;
                color: white;
                transition: .8s;
                margin: 1rem 0rem;
            }
            input:hover{
                background-color: white;
                color: black;
                border: 1px solid white;
                cursor: pointer;
                transform: scale(1.1);
            }
        }
        .ocultarCarrito{
            display: none;
        }
        nav{
            position: fixed;
            z-index: 10;
            top: 0px;
            background-color: black;
            opacity: .8;
            height: 100%;
            width: 100%;
            transition: .7s;
            animation-name: mostar;
            animation-duration: 1.3s;
            ul{    
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                height: 100%;
                li{
                    text-align: center;
                    list-style: none;
                    margin: 1rem 0rem;
                    transition: .5s;
                    opacity: 1;
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 3rem;
                        font-weight: 100;
                    }
                    p{
                        text-decoration: none;
                        color: white;
                        font-size: 3rem;
                        font-weight: 100;
                        cursor: pointer;
                    }
                }
                li:hover{
                    transform: scale(1.08);
                }
                
            }
        }
        @keyframes mostar{
            from{
                opacity: 0;
            }
            to{
                opacity: .8;
            }
        }
        .ocultar{
            display: none;
        }
    }
    
    .main-index{
        padding: 2rem;
        height: 80%;
        .container-equipos{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 75%;
            .none{
                display: none;
            }
            .equipo{
                width: 350px;
                height: 350px;
                border-radius: 3px;
                transition: .7s;
                animation-name: aparecer;
                animation-duration: 1.3s;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .equipo:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
            @keyframes aparecer{
                from{
                    opacity: 0;
                }
                to{
                    opacity: 1;
                }
            }
        }
        .container-buttons{
            width: 100%;
            height: 25%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            .button{
                width: 1.3rem;
                height: 1.3rem;
                opacity: .5;
                border-radius: 100%;
                margin: 0rem 3rem;
                transition: .7s;
                background-color: black;
            }
            .button:hover{
                opacity: .8;
                cursor: pointer;
                transform: scale(1.2);
            }
        }
    }

    .main-zapatillas{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 2rem 0rem;
        gap: 3rem;
        .modelos{
            border: 1px solid rgb(75, 75, 75);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0px 0px 10px 0px rgb(135, 135, 135);
            width: 370px;
            height: 500px;
            img{
                width: 350px;
                height: 350px;
            }
            p{
                font-size: 1.5rem;
                text-align: center;
            }
            .comprar{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                width: 40%;
                margin: 1.5rem 0rem 2rem 0rem;
                input{
                    width: 5rem;
                    height: 2rem;
                    background-color: black;
                    border: 1px solid black;
                    color: white;
                    transition: .8s;
                    
                }
                input:hover{
                    background-color: white;
                    color: black;
                    border: 1px solid white;
                    cursor: pointer;
                    transform: scale(1.1);
                }
                img{
                    width: 2rem;
                    height: 2rem;
                    transition: .6s;
                }
                img:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }
        }
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        .red-social{
            margin: 0rem 1rem;
            transition: 0.6s;
            img{
                height: 3.5rem;
            }
        }
        .red-social:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}




